.animation-container{
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    overflow-y: auto;
    overflow-x: auto;
}

.animation-title {
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}

#container{
    position: relative;
    margin: auto;
    
}

#run{
    margin-right: 10px;
}

#field {
    background-image: url('/assets/field.jpg');
    margin: 10px;
    border-radius: 5px;
    background-size: 100%;
    background-position: center;
    position: 'relative'
}

#ball {
    border-radius: 50%;
    background-color: rgb(172, 255, 255);
    background-image: url('');
}

#control {
    margin: 10px;  
}