.carts-container{
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
}

.carts-title {
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}

.carts-items-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    overflow-y: auto;
    height: 560px;
    align-items: start;
}