.add-contrainer{
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    background-color: azure;
}

.add-title{
    color: red;
}

.add-display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 0.5rem;
}

.add-variable{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}